* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Hace que el movimiento sea suave y no un salto brusco */
  scroll-padding-top: 70px;
  background-color: rgb(143, 195, 243);
  /* font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic; */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #2c3e50;
}

#brand-logo {
  height: 100px;
  width: auto;
}

#navbar {
  padding-top: 0;
  padding-bottom: 0;
}
section {
  padding: 10px 0;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-family: "Changa One", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  margin-top: 20px;
}
h4 {
  font-family: "Alfa Slab One", serif;
  font-weight: 700;
  font-style: normal;
}