* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /*  Movimiento smooth, o suave*/
  scroll-padding-top: 70px;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

/* Fuerza a que las filas no se salgan del contenedor padre... Esta hpta 
cosa fue un dolor de cabeza profe. */
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #2c3e50;
}

#brand-logo {
  height: 100px;
  width: auto;
}

#navbar {
  padding-top: 0;
  padding-bottom: 0;
}

section {
  padding: 10px 0;
}

#banner {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-family: "Arva", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  margin-top: 20px;
}

h4 {
  font-family: "Alfa Slab One", serif;
  font-style: normal;
}

#navbar {
  font-family: "Lobster", sans-serif;
}

#navbar .nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 700;
}

#navbar .nav-link:hover {
  color: #fd7e14 !important;
}

#navbar .navbar-brand {
  font-weight: 100;
  font-size: 2rem;
}

.gallery-img {
  width: 100%;
  height: 250px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
  object-fit: cover;
}

.gallery-img:hover {
  transform: scale(1.05);
}

#tittle-contacto {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  margin: 0;
}

#tittle-informacion {
  font-family: "Lobster", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 3rem;
}


@media (min-width: 992px) and (max-width: 1150px) {
  
  .nav-link {
    padding-left: 8px !important;
    padding-right: 8px !important;
    font-size: 0.9rem;
  }
  
  .navbar-brand {
    font-size: 1.2rem;
  }

}